<footer class="footer-light">
    <div class="container-lg">
        <ul>
            <li class="highlight">
                <a href="https://released.info/index.html">
                    <i class="bi bi-clock"></i> released.info
                </a>
            </li>
            <li>
                <a href="https://released.info/terms.html">
                    Terms of use
                </a>
            </li>
            <li>
                <a href="https://released.info/mission.html">
                    Mission
                </a>
            </li>
            <li>
                <a href="https://released.info/privacy.html">
                    Privacy policy
                </a>
            </li>
            <li>
                <a href="https://released.info/faq.html">
                    FAQ
                </a>
            </li>
            <li>
                <a href="https://released.info/contact.html">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</footer>
